@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

:root {
    /* Colors */
    --color-bg: #01040d;
    --color-primary: #325bef;
    --color-analog: #6832ef;
    --color-comp: #ef6832;
    --color-tetratic: #efc632;
    --color-secondary: var(--color-tetratic);
    --color-text-light: #fafbff;
    --color-text-dark: #01040d;

    /* Space */
    --space-unit: 1em;
    --space-xxxxs: calc(0.125 * var(--space-unit));
    --space-xxxs: calc(0.25 * var(--space-unit));
    --space-xxs: calc(0.375 * var(--space-unit));
    --space-xs: calc(0.5 * var(--space-unit));
    --space-sm: calc(0.75 * var(--space-unit));
    --space-md: calc(1.25 * var(--space-unit));
    --space-lg: calc(2 * var(--space-unit));
    --space-xl: calc(3.25 * var(--space-unit));
    --space-xxl: calc(5.25 * var(--space-unit));
    --space-xxxl: calc(8.5 * var(--space-unit));
    --space-xxxxl: calc(13.75 * var(--space-unit));
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: var(--color-text-light);
    background: var(--color-bg);
}

/* Skeleton Overrides */
.container {
    max-width: 1200px;
}
@media (max-width: 1024px) {
    .container {
        width: 100%;
        padding: 0 var(--space-md);
    }
}
p {
    margin-bottom: 1rem;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-primary);
}

/* Custom Stuff */

.fluid {
    width: 100%;
    max-width: none;
}

/* Flex */
.flex-row-left {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.flex-header {
    flex: 1 1 128px;
    text-align: left;
}
.flex-content {
    flex: 6 1 640px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

/* Cards */
.card {
    color: var(--color-text-dark);
    background: #fafbff;
    border-radius: 1rem;
    padding: var(--space-md);
    border: 1px solid hsl(228, 100%, 90%);
    margin-bottom: var(--space-md);
}
.card img {
    width: 100%;
}

.project-card {
    /* flex: 1 0 500px; */
    max-width: 425px;
    color: var(--color-text-dark);
    background: #fafbff;
    border-radius: 1rem;
    border: 1px solid hsl(228, 100%, 90%);
    margin-bottom: var(--space-md);
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}
.project-img {
    max-width: 425px;
}
.project-img > img {
    margin-top: -2px;
    margin-left: -1px;
    width: calc(100% + 2px);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.project-desc {
    padding: var(--space-md);
}

/* Header Footer */
.header {
    background: linear-gradient(
        to bottom right,
        var(--color-primary),
        var(--color-analog)
    );
    text-align: center;
    padding: var(--space-xl);
    margin-bottom: var(--space-xl);
    border-bottom: 2px solid var(--color-comp);
}

.footer {
    min-height: 25vh;
    background: linear-gradient(
        to bottom right,
        var(--color-primary),
        var(--color-analog)
    );
    text-align: center;
    padding: var(--space-xl);
    margin-top: var(--space-xxxxl);
    border-top: 2px solid var(--color-comp);
}

/* Nav */
.nav-link {
    flex: 1 0 50%;
    border-bottom: 1px solid var(--color-primary);
    margin-bottom: var(--space-xl);
    text-align: center;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}
.nav-link > h5 {
    padding: var(--space-xs);
}
.nav-link:hover {
    opacity: 0.9;
    background: rgba(255, 255, 255, 0.1);
}
.active {
    opacity: 1;
}

/* Chips */
.chip {
    display: inline-flex;
    background-color: rgba(50, 185, 239, 0.75);
    border-radius: 2rem;
    padding: 0 var(--space-md);
    margin: var(--space-xs) 0;
    /* margin-top: -25px; */
    width: fit-content;
    line-height: 1.6;
    font-size: 1.5rem;
    background: linear-gradient(to bottom right, #325bef, #6832ef);
    color: #eee;
}
