/* COLORS
	primary:   #19D2D2
	secondary: #616161
	third:     #D21919
*/
/* Overrides */
.nav-pills .nav-link.active, .show>.nav-pills .nav-link { background-color: #19D2D2 !important; color: #000 !important; }
.text-muted { color: #AFB4BA !important; }

/* Background Colors */
.cy-bg-primary   { background-color: #19D2D2; }
.cy-bg-secondary { background-color: #616161; }
.cy-bg-third     { background-color: #D21919; }

/* Utilities */
a { color: #fff; }
a:hover { color: #ddd; }

/* Misc */
.main { color: #fff; }

/* Footer */
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #3b3b3b;
}