/* COLORS
	primary:   #19D2D2
	secondary: #616161
	third:     #D21919
*/
/* Overrides */
.nav-pills .nav-link.active, .show>.nav-pills .nav-link { background-color: #19D2D2 !important; }

/* Background Colors */
.cy-bg-primary   { background-color: #19D2D2; }
.cy-bg-secondary { background-color: #616161; }
.cy-bg-third     { background-color: #D21919; }

/* Utilities */
a { color: #fff; }
a:hover { color: #ddd; }